body{
  background: url('../img/science-background.jpg') repeat;
  background-size: 600px;
  font-family: 'Times New Roman', Times,serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}



#authorNote{
  
  font-weight: bold;
  background: lightblue;
  color: rgb(41, 39, 39);
}


